<ion-header>
  <ion-navbar>
    <ion-title>Acerca de</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list no-lines>
    <ion-item text-center>
        <img src="./assets/img/rumbaki-logotipo.png">
      <h2>Rumbaki version 0.0.1</h2>
    </ion-item>
    <ion-item>
      <p text-wrap>Si buscas algun lugar donde divertirte, comer o pasar el rato, Rumbaki entra al rescate. Aqui encontraras muchas opciones de donde elegir. Tendras una lista de bares, eventos, restaurantes y más.</p>
      <p text-wrap>Si no sabes que hacer o donde ir, nosotros te ayudamos.</p>
    </ion-item>
  </ion-list>
</ion-content>
