<ion-header>

  <ion-navbar>
    <ion-title><h5>Establecimientos</h5></ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list no-border>
    <ion-list-header>
      Establecimientos pendientes
    </ion-list-header>
    <!--ion-item *ngFor="let user of cargarUProv.users"-->
    <ion-item *ngFor="let user of loadRequestProv._requests_support | async">
      <ion-avatar item-start>
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-label>{{user.username}}
        <p>{{user.address}}</p>
      </ion-label>
      <ion-toggle checked={{user.enable_support}} [(ngModel)]="user.enable_support" (ionChange)="updateUserToSupport(user)"></ion-toggle>
    </ion-item>
  </ion-list>
  <!--ion-list no-border>
    <ion-list-header>
      Administrador
    </ion-list-header>
    <ion-item *ngFor="let user of loadRequestProv._requests_support | async">
      <ion-avatar item-start>
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-label>{{user.username}}
        <p>{{user.address}}</p>
      </ion-label>
      <ion-toggle checked={{user.enable_admin}} [(ngModel)]="user.enable_admin" (ionChange)="updateUserToSupport(user)"></ion-toggle>
    </ion-item>
  </ion-list-->
</ion-content>
