<ion-content padding text-center >
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-right
              (click)="goToHome()" round
              text-capitalize>
              Ver Eventos
              <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col class="top-15">
        <img src="./assets/img/rumbaki-logotipo.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>
          Login
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="top-5" >
        <button ion-button (click)="signInWithFacebook()" color="facebook" icon-left block text-capitalize>
          <ion-icon name="logo-facebook"></ion-icon>
          facebook
        </button>
      </ion-col>
      <!--ion-col class="top-5" col-6>
        <button ion-button (click)="signInWithGoogle()" color="google" icon-left block text-capitalize>
          <ion-icon name="logo-google"></ion-icon>
          Google
        </button>
      </ion-col-->
    </ion-row>
  </ion-grid>
  <h6 style="margin: 0 !important" >- or -</h6>
  <ion-list padding>
    <ion-item style="border-top-right-radius: 10px !important; border-top-left-radius: 10px !important;">
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item style="border-bottom-right-radius: 10px !important; border-bottom-left-radius: 10px !important;">
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block text-capitalize color="tm_dk_fucsia" (click)="login2()">login</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block text-capitalize color="tm_dk_fucsia" (click)="signup()">Sign-up</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
