page-login {
  ion-content{
    background: #272262 !important;
    //background: #6858EB !important;
    /*background: #ee2b7a; /* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(39,34,98,1) 0%, rgba(39,34,98,0.5) 71%, rgba(238,43,122,0.39) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(39,34,98,1) 0%,rgba(39,34,98,0.5) 71%,rgba(238,43,122,0.39) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(39,34,98,1) 0%,rgba(39,34,98,0.5) 71%,rgba(238,43,122,0.39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .toolbar-background {
    background: transparent;
    //background: linear-gradient($tm_dk_grd_lila1, $tm_dk_grd_lila2);
    border-color: transparent;
  }

  img{
    width: 150px;
  }
  .top-15{
    margin-top: 15%;
  }
  .top-5{
    margin-top: 5%;
  }
  h3{
    color: white;
  }

  ion-list {
    margin: 0;
    //padding: 0 !important;
    margin-bottom: 0 !important;

  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }


}
