<!--<ion-tabs selectedIndex="1"> posision seleccionada por defecto -->
<!--
<ion-tabs>
  <ion-tab tabIcon="home" [root]="tabHome"></ion-tab>
  <ion-tab tabIcon="text" [root]="tabProfile"></ion-tab>
  <ion-tab tabIcon="menu" [root]="tabProfile"></ion-tab>
</ion-tabs>
-->
<ion-tabs>
  <ion-tab tabIcon="md-home" [root]="tabHome"></ion-tab>
  <ion-tab tabIcon="md-compass" [root]="tabPlaces"></ion-tab>
  <ion-tab tabIcon="md-person" [root]="tabProfile"></ion-tab>
  <ion-tab tabIcon="menu" [root]="tabSettings"></ion-tab>
</ion-tabs>
<!--
<ion-tabs>
  <ion-tab tabIcon="home" [root]="tabHome"></ion-tab>
  <ion-tab tabIcon="person" [root]="tabProfile"></ion-tab>
  <ion-tab tabIcon="add-circle" [root]="tabUpload"></ion-tab>
  <ion-tab tabIcon="menu" [root]="tabProfile"></ion-tab>
  <ion-tab tabIcon="settings" [root]="tabProfile"></ion-tab>
</ion-tabs>
-->
