<ion-header>

  <ion-navbar>
    <ion-title>viewprofile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-thumbnail item-start>
      <img [src]="avatarPreview" class="avatar_img">
    </ion-thumbnail>
    <h2>Foto de perfil</h2>
    <p>
      <!--button ion-button icon-left small round color="tm_dk_fucsia" (click)="mostrarCamara()" text-capitalize clear item-end-->
      <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="mostrarCamara('avatar')" text-capitalize item-end>
        <ion-icon name="md-camera"></ion-icon>
      </button>
      <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="selectPicture('avatar')" text-capitalize item-end>
        <ion-icon name="md-photos"></ion-icon>
      </button>
    </p>
  </ion-item>
</ion-content>
