page-editprofile {
  ion-content{
    background: #272262 !important;
    background-size: cover;
    text-align: center;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

.row {
    height: 40%;
    margin-top: -75%;
    margin-bottom: 2em;
    .avatarImg {
        margin: 0 auto;
        margin-top: 16%;
        border-radius: 50%;
        width: 30%;
        border: 4px solid $tm_dk_fucsia;
    }
}

.background-profile{
  margin-top: -55%;
  margin-bottom: -2em;
  background: transparent !important;
}

.avatar-profile {
    margin: auto;
    width: 20vw !important;
    height: 20vw !important;
    border: 1vw solid #fff;
}

.foo01 {
        margin-top: -15%;
        margin-bottom: -2em;
        background: transparent !important;
    }

    .foo02 {
        margin: auto;
        width: 20vw !important;
        height: 20vw !important;
        border: 1vw solid #fff;
    }

  .avatar_img{
    border-radius: 100%;
  }
  .top-15{
    margin-top: 15%;
  }
  .top-5{
    margin-top: 5%;
  }
  h3{
    color: white;
  }

  ion-list {
    margin: 0;
    margin-bottom: 0 !important;

  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }
  ion-label {
    color: $tm_lg_blanco !important;
  }
  ion-item{
    background-color: transparent !important;
  }
  .toggle-md .toggle-inner, .toggle-ios .toggle-inner {
    background-color: #f8f8fb;
  }
  .checkbox-ios .checkbox-icon, .checkbox-md .checkbox-icon {
    background-color: #f8f8fb;
  }
  .checkbox-ios .checkbox-checked, .checkbox-md .checkbox-checked {
    border-color: #488aff !important;
    background-color: #488aff !important;
  }
}
