<ion-header>
  <ion-navbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--form [formGroup]="registerForm" (ngSubmit)="createNewUser()"-->
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-thumbnail item-start>
        <img [src]="avatarPreview" class="avatar_img">
      </ion-thumbnail>
      <h2>Foto de perfil</h2>
      <p>
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="mostrarCamara('avatar')" text-capitalize item-end>
          <ion-icon name="md-camera"></ion-icon>
        </button>
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="selectPicture('avatar')" text-capitalize item-end>
          <ion-icon name="md-photos"></ion-icon>
        </button>
      </p>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="username" type="text" placeholder="Nombre de usuario" [(ngModel)]="user.username">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.username.valid  && (signupForm.controls.username.dirty || submitAttempt) && !signupForm.controls.username.pending">
        <p *ngIf="signupForm.value.username != ''">Nombre no valido</p>
        <p *ngIf="signupForm.value.username == ''">Nombre requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Nombre</ion-label-->
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="firstname" type="text" placeholder="Nombre" [(ngModel)]="user.firstname">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.firstname.valid  && (signupForm.controls.firstname.dirty || submitAttempt) && !signupForm.controls.firstname.pending">
        <p *ngIf="signupForm.value.firstname != ''">Nombre no valido</p>
        <p *ngIf="signupForm.value.firstname == ''">Nombre requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Apellido</ion-label-->
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="lastname" type="text" placeholder="Apellido" [(ngModel)]="user.lastname">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.lastname.valid  && (signupForm.controls.lastname.dirty || submitAttempt) && !signupForm.controls.lastname.pending">
        <p *ngIf="signupForm.value.lastname != ''">Apellido no valido</p>
        <p *ngIf="signupForm.value.lastname == ''">Apellido requerido</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-input formControlName="description" type="text"  [(ngModel)]="user.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nombre del lugar</ion-label>
      <ion-input formControlName="name_place" type="text" [(ngModel)]="user.name_place"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Dirección</ion-label>
      <ion-input formControlName="address" type="text"  [(ngModel)]="user.address"></ion-input>
    </ion-item>
    <!--ion-item *ngIf="(!user.request_support && !user.enable_support)"-->
    <ion-item>
      <ion-label>Enviar solicitud de Anunciante</ion-label>
      <ion-checkbox formControlName="request_support" color="energized" checked="true" [(ngModel)]="user.request_support" ></ion-checkbox>
    </ion-item>
    <ion-col col-6>
      <button ion-button block text-capitalize color="tm_dk_fucsia" navPop>Cancelar</button>
    </ion-col>
    <ion-col col-6>
      <!-- [disabled]="signupForm.controls.email.valid" -->
      <button ion-button block
              text-capitalize color="tm_dk_fucsia"
              (click)="updateUser()"
              [disabled]="!signupForm.valid">
          Guardar
      </button>
    </ion-col>
  </form>
</ion-content>
