<ion-header>

  <ion-navbar>
    <!--ion-searchbar [(ngModel)]="searchPlaces" (ionInput)="setFilteredItems()"-->
    <ion-searchbar [(ngModel)]="searchPlaces" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>¿Dónde ir?</h1>
  <div padding>
    <ion-item *ngFor="let place of places">
      <!--ion-item *ngFor="let place of placesProv.places_ | async"-->
    <!--este sirve con la opcion 2-->
    <!--ion-item *ngFor="let place of placesProv.places"-->
      <ion-thumbnail item-start>
        <img [src]="place.avatar">
      </ion-thumbnail>
      <h2>{{ place.username }}</h2>
      <p>{{ place.address }}</p>
      <!--button ion-button clear item-end [navPush]="viewPlace" [navParams]="{place:place}" (click)="viewPlaceInfo(place)" >Ver</button-->
      <button ion-button round color="tm_dk_fucsia" item-end (click)="viewPlaceInfo(place)" >Ver</button>
    </ion-item>
  </div>
</ion-content>
