page-places {

  ion-card {
    position: relative;
    text-align: center;
    display: inline-block;
    border-radius: 25px !important;
    height: 100%;
  }

  .scroll-zoom-wrapper {
    white-space: nowrap;
  }
  ion-scroll {
    min-height: 420px;
    height: 100%;
    .scroll-content {
      padding: 0px !important;
    }
  }

  .card-title {
    position: absolute;
    top: 6%;
    left: -15%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 2.5%;
    right: 35%;
    width: 100%;
    color: #ffffff;
  }

  .card-ranking {
    position: absolute;
    top: 2.5%;
    right: -33%;
    width: 100%;
    font-weight: bold;
    color: $tm_dk_amarillo;
  }

  .card-avatar {
    //border: solid $morado_oscuro1;
    border-radius: 100%;
    width: 15%;
    font-size: 1.0em;
    position: absolute;
    top: 68%;
    right: 3%;
  }
  .card-avatar > img {
    border-radius: 100%;
  }
  .card-text > p {
    white-space: normal !important;
    text-align: justify !important;
    word-wrap: break-word;
    font-size: 0.9em !important;
    height: 9rem;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }
  
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  /*
  div {
  height: 50% !important ;
}*/
}
