page-profile {
  ion-content{
    background: #272262 !important;
    //background: url('../assets/img/bg3.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  }
  ion-item{
    background: transparent !important;
  }
  .avatar_img{
    border-radius: 100%;
    width: 50%;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }
  .card-ranking {
    font-weight: bold;
    color: $tm_dk_amarillo;
  }
  ion-card{
    background: #433a9e !important;
  }
  #map{
    height: 400px;
    width: 100%;
  }
}
