<ion-header no-border >
  <ion-navbar >
    <ion-title text-center>
      {{(profile && "Perfil")|| "Inicie sesión" }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div *ngIf="!session">
    <p>
      Debe iniciar sesión para acceder al perfil de usuario.
    </p>
  </div>
  <div *ngIf="session">
    <div *ngIf="profile.enable_support">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{profile.avatar}}" class="avatar_img">
        </ion-thumbnail>
        <h2>{{(profile.name_place || profile.username )}}</h2>
        <h3>
          <button ion-button small (tap)="mostrarMapa(profile.address)" clear>
            <ion-icon name="md-pin"></ion-icon>
          </button>{{profile.address}}
        </h3>
        <div *ngIf="profile.enable_support" class="card-ranking">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <h3><strong>Aqui en  {{(profile.name_place || profile.username )}}</strong></h3>
            <p *ngIf="profile.description" text-center>
              {{profile.description}}
            </p>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title text-left>
            <h3><strong>Nombre:  </strong>{{profile.firstname}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Apellido:  </strong>{{profile.lastname}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Email:  </strong>{{profile.email}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Nombre del lugar:  </strong>{{profile.name_place}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Dirección:  </strong>{{profile.address}}</h3>
          </ion-card-title>
        </ion-card-content>
      </ion-card>

    </div>
    <div *ngIf="!profile.enable_support">
      <img src="{{profile.avatar}}" class="avatar_img">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <ion-card-title text-center>
              <h3>{{profile.username}}</h3>
            </ion-card-title>
            <h3><strong>Sobre mi:  </strong></h3>
            <p text-center>
              {{profile.description}}
            </p>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Nombre:  </strong>{{profile.firstname}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Apellido:  </strong>{{profile.lastname}}</h3>
          </ion-card-title>
          <ion-card-title text-left>
            <h3><strong>Email:  </strong>{{profile.email}}</h3>
          </ion-card-title>
          <!--ion-card-title text-left>
            <h3>
              <strong>Cambiar contraseña:     </strong>
              <button ion-button small round (click)="resetPassword()">
                <ion-icon name="md-lock"></ion-icon>
              </button>
            </h3>
          </ion-card-title-->
        </ion-card-content>
      </ion-card>
    </div>
    <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="editProfile(profile)" text-capitalize item-end>
      Editar
    </button>

  </div>
</ion-content>
