page-introduction {
  
  .gradient1{
    background: linear-gradient($tm_dk_grd_naranja1, $tm_dk_grd_naranja2);
  }
  .gradient2{
    background: linear-gradient($tm_dk_grd_lila1, $tm_dk_grd_lila2);
  }
  .gradient3{
    background: linear-gradient($tm_dk_grd_celeste1, $tm_dk_grd_celeste2);
  }

  .toolbar-background {
    background: transparent;
    //background: linear-gradient($tm_dk_grd_lila1, $tm_dk_grd_lila2);
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
    font-family: Poppins !important;
    color: $tm_lg_blanco !important;
    }
  h1 {
    font-weight: semibold !important;
    color: $tm_lg_blanco !important;
    //efecto de sombra
    //text-shadow: 4px 4px 4px #aaa;
    }
  h5 {
    font-weight: lighter !important;
    line-height: 4rem !important;
    }

}
