<ion-content >

  <ion-slides pager>

    <!-- Código para crear slides -->
      <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background-color': slide.color}">
      <!--ion-slide *ngFor="let slide of slides" [ngClass]=" slide.gradient "-->
        <ion-toolbar>

          <ion-buttons end>
            <button ion-button color="primary"
                    (click)="saltar_tutorial()">Saltar</button>
          </ion-buttons>

        </ion-toolbar>

        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </ion-slide>

      <!-- Fin del ngFor -->

      <!-- Ultimo Slide -->
      <ion-slide [ngStyle]="{'background-color': '#6858EB'}">
        <ion-toolbar>

          <!--ion-buttons end>
            <button ion-button color="primary"
                    (click)="goToHome()">Preview</button>
          </ion-buttons-->

        </ion-toolbar>

        <img src="assets/img/fest-img.png" class="slide-image"/>
        <h2 class="slide-title">¿Listo para la fiesta?</h2>

        <button ion-button icon-right color="tm_dk_fucsia"
                (click)="saltar_tutorial()" round >
          Vamos!
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>
      <!-- Fin del último slide -->
    </ion-slides>
</ion-content>
