<ion-header no-border color="morado_oscuro3">

  <ion-navbar color="morado_oscuro3">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center >New Post</ion-title>
    <ion-buttons end icon-only >
      <button ion-button (click)="createPost()" [disabled]="title.length <= 1 || imagenPreview.length <= 1 " >
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid padding>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-left small round color="tm_dk_fucsia" (click)="selectPicture()" text-capitalize>
          <ion-icon name="photos" text-capitalize></ion-icon>
          Imagen
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left small round color="tm_dk_fucsia" (click)="mostrarCamara()" text-capitalize>
          <ion-icon name="camera" ></ion-icon>
          Camara
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="type_post">
        <ion-option value="posts">Promo</ion-option>
        <ion-option value="events">Evento</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="imagenPreview">
      <!--img src="{{ imagenPreview }}"-->
      <img [src]="imagenPreview">
    </ion-item>
    <ion-item>
      <ion-label floating>Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="title" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="text" ></ion-input>
    </ion-item>
  </ion-list>


</ion-content>
