page-uploadpost {
  ion-title{
        text-align: center !important;
  }
  /*body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }*/
  ion-buttons button span ion-icon{
    color: $tm_lg_blanco !important;
  }
  ion-input, ion-label, ion-select,
  button span,
  ion-row ion-col button span,
  ion-row ion-col button span ion-icon {
    color: $tm_lg_blanco !important;
  }
  /*
  .alert-title {
      color: #81868ecf !important;
  }
  .alert-md .alert-button .button-inner {
    color: #81868ecf !important;
  }
  .alert-ios .alert-button .button-inner{
    color: #81868ecf !important;
  }*/

}
