page-home {
  ion-header {
        //height: 48px;//by default 56px
        background: #6858EB;
    }

  ion-item{
    background-color: $primary_dark !important;
  }
  ion-item > p > button{
        padding: 0 !important;
  }
  ion-content{
    //background-color: #000000 !important;
    //tema claro
    //background-color: #f7f8f9 !important;
    //tema oscuro
    background-color: $secondary_dark !important;
  }
  ion-title{
    //background-color: #000000 !important;
    //background: #0E0E1A;
    background: transparent !important;
    color: #f7f8f9 !important;
    //background: linear-gradient(to bottom right, #2905B1, #8101AA);
  }
  ion-segment-button{
    color: gray !important;
    font-weight: bold !important;
  }
  ion-toolbar{
    background: $secondary_dark !important;
  }

  ion-slide > img{
    width: 360px !important;
    height: 360px !important;
  }

  .fab-md, .fab-ios {
    color: #fff;
    background-color: $tm_dk_verde;
  }
  //esta clase hace que las imagenes del slides ocupen todo el espacio
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .div-toolbar{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }

  .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    padding-right: 0px !important;
  }
  [col-2] {
    padding: 0px !important;
  }
  /*
  //version 1
  .item-md [item-end], .item-ios [item-end] {
    margin: 0 0 9px 0 !important;
  }*/
  .item-md [item-end], .item-ios [item-end] {
    margin: 0 0 0 0 !important;
  }
  .label-md, .label-ios {
    margin: 0px 8px 0px 0;
  }
  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start],
  .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
    margin: 0px 16px 0px 0;
  }
  /*.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
      margin: 9px -8px 9px 0 !important;
  }*/

/*
  ._img-card {
    position: relative !important;
  }
  ._img-card::after {
    content: '' !important;
	position: absolute !important;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225) !important;
	opacity: 0.2 !important;
}*/
  .emboss-effect {
	$url : url(photo.jpg);

	background-image: $url;
	background-size: cover;
	background-position: center;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225) !important;

	@supports (filter: invert(1)) and (background-blend-mode: difference, screen) {
		//background-image: $url, $url, $url;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225) !important;
		background-blend-mode: difference, screen;
		background-position:
			calc(50% - 1px) calc(50% - 1px),
			calc(50% + 1px) calc(50% + 1px),
			center;
		filter: brightness(1) invert(0) grayscale(0) hue-rotate(20deg);;
	}
}

  /*
  $segment-button-ios-transition-activated:	100ms all linear;
  $segment-button-md-padding-bottom: 1px;
  $segment-button-sm-padding-bottom:none !important;
  */
    /*  @font-face {
      font-family: Poppins;
      src: url("https://fonts.googleapis.com/css?family=Poppins");
      }

      body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
      font-family: Poppins !important;
  }*/
}
