<ion-header no-border color="morado_oscuro3">
  <ion-navbar color="morado_oscuro3">
    <ion-title text-center>
      Rumbaki
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div class="div-toolbar" >
    <ion-segment [(ngModel)]="noticias" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="promos" text-capitalize>
        <h6>Promos</h6>
      </ion-segment-button>
      <ion-segment-button value="events" text-capitalize>
        <h6>Events</h6>
      </ion-segment-button>
    </ion-segment>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div [ngSwitch]="noticias" class="div-segment">
    <ion-list *ngSwitchCase="'promos'">
      <!-- ngfor -->
      <!--ion-card *ngFor="let post of posts | async"-->
      <ion-card *ngFor="let post of cargaAP.posts; let i = index">
        <ion-item>
          <ion-avatar item-start (tap)="viewPlace(post.user_id)">
            <!--img src="img/marty-avatar.png"-->
            <img [src]="post.user_avatar">
          </ion-avatar>
          <h2>{{post.user_name}}</h2>
          <!--p>November 5, 1955</p-->
          <p style="font-size: 1.2rem !important">
            {{post.title}}
          </p>
          <!--button ion-button item-end large clear (click)="presentPopover(post.key)"-->
          <button ion-button item-end large clear (click)="presentAlert(post,i)" *ngIf="(post.user_id == useridStore)">
            <ion-icon name="md-more"></ion-icon>
          </button>
        </ion-item>
        <!--ion-slides pager [navPush]="viewcommentsPage" [navParams]="{post:post}"-->
        <!--ion-slides pager (click)="viewPost( post )" -->
        <ion-slides pager>
          <ion-slide *ngFor="let img_post of post.attachements">
            <img class="_img-card" [src]="img_post.content">
          </ion-slide>
        </ion-slides>
        <ion-row no-padding>
          <ion-col col-2>
            <button ion-button icon-start clear large padding-right (click)="viewComments(post.key)" style="height: 80% !important;">
              <ion-icon name="ios-text"></ion-icon>
            </button>
          </ion-col>
          <ion-col center text-right padding-right>
            <ion-note>
              {{post.created_at}}
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-card-content padding-horizontal text-wrap>
          <p>{{post.text}}</p>
        </ion-card-content>
      </ion-card>
      <!-- ngfor -->

    </ion-list>

    <ion-list *ngSwitchCase="'events'">
    </ion-list>

  </div>
  <ion-fab bottom right *ngIf="canPost">
    <button ion-fab ><ion-icon name="md-create"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="uploadPost('camera')"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="uploadPost('file')"><ion-icon name="photos"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="cargarPosts">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
