<ion-header>
  <ion-navbar>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list no-lines>
    <button ion-item (click)="goLogin()" *ngIf="!showItems">
      Login
    </button>
    <button ion-item [navPush]="request" *ngIf="showAdmin">
      Solicitudes pendientes
    </button>
    <button ion-item [navPush]="about">
      Acerca de
    </button>
    <ion-item (click)="logOut()" *ngIf="showItems">
      Cerrar sesión
    </ion-item>
  </ion-list>
</ion-content>
