page-settings {

  ion-content{
    background: #272262 !important;
    //background: url('../assets/img/bg3.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  ion-label {
    color: $tm_lg_blanco !important;
  }
  ion-item{
    background-color: transparent !important;
  }
  .item-md, .item-ios {
    background-color: transparent !important;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }

}
