// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$primary_dark: #161822;
$secondary_dark: #0E0E1A;
$tm_dk_fucsia: #FF2266;
$tm_dk_rosa: #FC4FD9;
$tm_dk_fucsia_s: #EA2C81;
$tm_dk_fucsia_dk: #272262;
$tm_dk_verde_s: #54B3BB;
$tm_dk_celeste: #0A78E3;
$tm_dk_amarillo: #F8CD14;
$tm_dk_lila: #8D4CE9;
$tm_dk_morado: #6858EB;
$tm_dk_verde: #7ED320;
$tm_dk_grd_naranja1: #FD3F2F;
$tm_dk_grd_naranja2: #FACE15;
$tm_dk_grd_lila1: #8D4DE8;
$tm_dk_grd_lila2: #FF2366;
$tm_dk_grd_celeste1: #6956EC;
$tm_dk_grd_celeste2: #56B2BA;
$tm_lg_blanco: #f7f8f9;
$terceary: #6858EB;

$morado_oscuro: #5B09DB;
$morado_oscuro1: #8D4CE9;
$morado_oscuro2: #330099;
$morado_oscuro3: #272262;

//$twitter: ( base: #55acee, contrast: #ffffff );

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  terceary:  $terceary,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  morado_oscuro: $morado_oscuro,
  morado_oscuro1: $morado_oscuro1,
  morado_oscuro2: $morado_oscuro2,
  morado_oscuro3: $morado_oscuro3,
  tm_lg_blanco: $tm_lg_blanco,
  primary_dark: $primary_dark,
  secondary_dark: $secondary_dark,
  tm_dk_fucsia: $tm_dk_fucsia,
  tm_dk_rosa: $tm_dk_rosa,
  tm_dk_fucsia_s: $tm_dk_fucsia_s,
  tm_dk_verde_s: $tm_dk_verde_s,
  tm_dk_celeste: $tm_dk_celeste,
  tm_dk_amarillo: $tm_dk_amarillo,
  tm_dk_lila: $tm_dk_lila,
  tm_dk_morado: $tm_dk_morado,
  tm_dk_verde_l: $tm_dk_verde,
  tm_dk_grd_naranja: $tm_dk_grd_naranja1,
  tm_dk_grd_lila: $tm_dk_grd_lila1,
  tm_dk_grd_celeste1: $tm_dk_grd_celeste1,
  tm_dk_grd_celeste2: $tm_dk_grd_celeste2,
  google: #dd4b39,
  facebook: #3b5998,
  twitter: (
    base: #55acee,
    contrast: #ffffff
  )

);

$background-color: $secondary_dark;

$toolbar-md-title-text-color: $tm_lg_blanco;
$toolbar-ios-title-text-color: $tm_lg_blanco;
$toolbar-wp-title-text-color: $tm_lg_blanco;

$card-ios-background-color: $primary_dark;
$card-md-background-color: $primary_dark;

$fab-md-background-color: $secondary_dark;
$fab-ios-background-color: $secondary_dark;
$fab-list-margin: 0;
//$card-wp-background-color: $primary_dark;
//$card-ios-title-text-color: $tm_lg_blanco;
//$card-md-title-text-color: $tm_lg_blanco;
$card-md-header-color: $primary_dark;
$card-ios-header-color: $primary_dark;

$tabs-border-color : $morado_oscuro3;
$tabs-background: $morado_oscuro3;
$tabs-tab-color-active: $tm_lg_blanco;
$tabs-tab-color-inactive: $morado_oscuro1;
$tabs-md-tab-color-inactive: $morado_oscuro1;
$tabs-ios-tab-min-height: 49px;
$tabs-md-tab-min-height: 49px;

$navbar-ios-height: 44px;
$navbar-wp-height: 44px;

$toolbar-ios-title-text-align: center;
$toolbar-ios-height: 44px;
$toolbar-ios-padding: 4px;
$toolbar-md-height:	44px;
$toolbar-md-padding:	4px;
$toolbar-md-background: transparent;
$toolbar-ios-background: transparent;

$searchbar-ios-background-color: $secondary_dark;
$searchbar-ios-input-background-color: $secondary_dark;
$searchbar-ios-input-search-icon-color:	$tm_lg_blanco;
$searchbar-ios-input-search-icon-size:	16px;
$searchbar-ios-input-placeholder-color: gray;
$searchbar-ios-input-text-color:	$tm_lg_blanco;
//$searchbar-ios-input-height: 2rem;
//$searchbar-ios-min-height: 2rem;

$searchbar-md-background-color: $secondary_dark;
$searchbar-md-input-background-color: $secondary_dark;
$searchbar-md-input-search-icon-color:	$tm_lg_blanco;
$searchbar-md-input-search-icon-size:	16px;
$searchbar-md-input-placeholder-color: gray;
$searchbar-md-input-text-color:	$tm_lg_blanco;
//$searchbar-md-input-height: 2rem;
//$searchbar-md-min-height: 2rem;

//$text-input-placeholder-color: transparent;
$text-input-ios-background-color: transparent;
$text-input-md-background-color: transparent;

// $tabs-tab-color-inactive
//
// $tabs-ios-background
// $tabs-ios-border-color
// $tabs-ios-tab-color-active
// $tabs-ios-tab-icon-color
// $tabs-ios-tab-icon-color-active
// $tabs-ios-tab-color-inactive
// $tabs-ios-tab-min-height
//
// $tabs-md-background
// $tabs-md-tab-color-active
// $tabs-md-tab-color-inactive
// $tabs-md-tab-icon-color
// $tabs-md-tab-icon-color-active
// $tabs-md-tab-min-height
/*
ion-header, ion-navbar{
  background-color:  #f7f8f9 !important ;
}
*/
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import url(https://fonts.googleapis.com/css?family=Poppins);
$font-family: "Poppins", sans-serif !default;

@font-face {
font-family: Poppins;
src: url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600");
//src: url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900");
}

body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
  font-family: Poppins !important;
  //color: $tm_lg_blanco !important;
  }
h1 {
  font-weight: semibold !important;
  color: $tm_lg_blanco !important;
  //efecto de sombra
  //text-shadow: 4px 4px 4px #aaa;
  }
h5 {
  font-weight: lighter !important;
  line-height: 4rem !important;
  }
h6 {
    font-weight: lighter !important;
    font-family: Poppins !important;
    color: $tm_lg_blanco !important;
    line-height: 1rem !important;
  }
  /*
  .alert-title {
      color: #81868ecf !important;
  }
  .alert-md .alert-button .button-inner {
    color: #81868ecf !important;
  }
  .alert-ios .alert-button .button-inner{
    color: #81868ecf !important;
  }*/
//styles android
ion-segment-button, .segment-ios, .segment-button {
  font-family: Poppins !important;
  font-weight: lighter !important;
  background-color: rgba(0, 0, 0, 0) !important;
  //font-size: 2rem !important;
  //font-style: normal !important;
  height: 3.5rem !important;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #FF2266 !important;
    opacity: 1 !important;
  }
  // fin styles android
  //styles iOS
  .list-ios, .item-block {
       border-bottom: none !important;
       border-top: none !important;
  }
  /*
  .list-ios > .item-block:first-child {
      //border-top: 0.55px solid #c8c7cc;
      border-top: none !important;
  }*/
  .segment-ios .segment-button.segment-activated {
    border-bottom: 2px solid !important;
    border-radius: 0 !important;
    border-color: #FF2266 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;

  }
    .segment-ios .segment-button {
      border-width: 0 !important;
      border-style: none !important;
      border-color: rgba(0, 0, 0, 0) !important;
      font-size: 1.3rem;
      line-height: 3rem;
      color: #488aff;
      background-color: transparent;
  }
  //styles iOS
span {
  color: gray;
  }
  .div-segment{
    padding-left: none !important;
    padding-right: none !important;
  }
  .card-ios{
    padding-left: none !important;
    padding-right: none !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  ion-card{
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: none !important;
    width: 100% !important;
  }
  /*
  ._img-card{
    -webkit-box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
    -moz-box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
    box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
  }
  .card-ios{
    -webkit-box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
    -moz-box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
    box-shadow: 10px 10px 12px 0px rgba(228,227,230,1) !important;
    margin: 12px;
    border-radius: 5px !important;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }*/
