
<ion-header>
  <ion-toolbar>
  <ion-buttons left>
    <button ion-button navPop clear small><ion-icon name="arrow-back"></ion-icon></button>
  </ion-buttons>
    <ion-title>{{(profile.name_place || profile.username )}}</ion-title>
</ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="{{profile.avatar}}" class="avatar_img">
    </ion-thumbnail>
    <h2>{{(profile.name_place || profile.username )}}</h2>
    <h3>
      <!--button ion-button small (tap)="mostrarMapa(profile.address)" clear-->
      <button ion-button small clear>
        <ion-icon name="md-pin"></ion-icon>
      </button>{{profile.address}}
    </h3>
    <!--div *ngIf="profile.enable_support" class="card-ranking"-->
    <div class="card-ranking">
      <ion-icon *ngFor="let n of ratingRange; let i = index" [name]="i < rating ? 'star' : 'star-outline'"></ion-icon>
    </div>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h3><strong>Aqui en  {{(profile.name_place || profile.username )}}</strong></h3>
        <p text-center>
          {{profile.description}}
        </p>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <button ion-button block light color="tm_dk_fucsia" (click)="evaluatePlace()" *ngIf="session">Calificar</button>
  <ion-card>
    <ion-card-content>
      <ion-card-title text-left>
        <h3><strong>Nombre:  </strong>{{profile.firstname}}</h3>
      </ion-card-title>
      <ion-card-title text-left>
        <h3><strong>Apellido:  </strong>{{profile.lastname}}</h3>
      </ion-card-title>
      <ion-card-title text-left>
        <h3><strong>Email:  </strong>{{profile.email}}</h3>
      </ion-card-title>
      <ion-card-title text-left>
        <h3><strong>Nombre del lugar:  </strong>{{profile.name_place}}</h3>
      </ion-card-title>
      <ion-card-title text-left>
        <h3><strong>Dirección:  </strong>{{profile.address}}</h3>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <button ion-button round color="tm_dk_fucsia" (tap)="showRouteMap(profile.address)">
    Ver Ruta
  </button>
  <ion-card>
    <div #map id="map">
    </div>
  </ion-card>
</ion-content>
