page-viewpost {
  ion-title{
        text-align: center !important;
  }
  ion-header{
    background: transparent;
    border-color: transparent;
  }
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  .div-segment{
    padding: none !important;
  }
  .pos-supder{
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
  }
  .contenedor{
    position: relative !important;
    display: inline-block !important;
    text-align: center !important;
  }
  ion-buttons{
    background: transparent !important;
    color: transparent !important;
    background-color: transparent !important;
  }

  ion-content{
    background: #272262 !important;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  img{
    width: 150px;
  }
  .top-15{
    margin-top: 15%;
  }
  .top-5{
    margin-top: 5%;
  }
  h3{
    color: white;
  }

  ion-list {
    margin: 0;
    margin-bottom: 0 !important;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }

  ion-card{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
