<ion-header no-border color="morado_oscuro3">

  <ion-navbar color="morado_oscuro3">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center color="light">{{post.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="div-segment">
<ion-card class="contenedor">
  <ion-slides pager>
    <ion-slide *ngFor="let img_post of post.attachements">
      <img class="_img-card" [src]="img_post.content">
    </ion-slide>
  </ion-slides>

  <ion-card-content>
    <p>{{post.text}}</p>
  </ion-card-content>

  <ion-row>
    <ion-item>
      <ion-avatar item-start>
        <!--img src="img/marty-avatar.png"-->
        <img [src]="post.user_avatar">
      </ion-avatar>
      <h2>{{post.user_name}}</h2>
      <p>{{post.created_at}}</p>
      <p>
        {{post.text}}
      </p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <!--img src="img/marty-avatar.png"-->
        <img [src]="post.user_avatar">
      </ion-avatar>
      <h2>{{post.user_name}}</h2>
      <p>{{post.created_at}}</p>
      <p>
        {{post.text}}
      </p>
    </ion-item>
  </ion-row>

</ion-card>
</div>
</ion-content>
