<ion-header>
  <ion-navbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="changePasswordForm">
  <ion-item>
    <ion-icon name="lock" item-start></ion-icon>
    <ion-input formControlName="oldpassword" type="password" placeholder="Contraseña anterior" [(ngModel)]="oldpassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="lock" item-start></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item class="no-line error" *ngIf="!changePasswordForm.controls.password.valid  && (changePasswordForm.controls.password.dirty || submitAttempt) && !changePasswordForm.controls.password.pending">
      <p *ngIf="changePasswordForm.value.password != ''">Password no valido</p>
      <p *ngIf="changePasswordForm.value.password == ''">Password requerido</p>
  </ion-item>
  <ion-item>
    <ion-icon name="lock" item-start></ion-icon>
    <ion-input formControlName="confirmPassword" type="password"  placeholder="Confirmación contraseña" [(ngModel)]="confirmpassword"></ion-input>
  </ion-item>
  <ion-item class="no-line error" *ngIf="changePasswordForm.value.password != changePasswordForm.value.confirmPassword && changePasswordForm.value.confirmPassword != '' && (changePasswordForm.controls.confirmPassword.dirty  || submitRegisterAttempt) && !changePasswordForm.controls.confirmPassword.pending && changePasswordForm.value.password != '' && changePasswordForm.controls.password.valid">
      <p>Confirmación de password no valido</p>
  </ion-item>
  <ion-item class="no-line error" *ngIf="changePasswordForm.value.confirmPassword == '' && (changePasswordForm.controls.confirmPassword.dirty  || submitRegisterAttempt) && !changePasswordForm.controls.confirmPassword.pending && changePasswordForm.value.password != '' && changePasswordForm.controls.password.valid">
      <p>Confirmación de password requerido</p>
  </ion-item>
  <ion-col col-6>
    <button ion-button block text-capitalize color="tm_dk_fucsia" navPop>Cancelar</button>
  </ion-col>
  <ion-col col-6>
    <button ion-button block
            text-capitalize color="tm_dk_fucsia"
            (click)="resetPassword()"
            [disabled]="!changePasswordForm.valid">
        Aceptar
    </button>
  </ion-col>
</form>
</ion-content>
