page-resetpassword {
  ion-content{
    background: #272262 !important;
    background-size: cover;
    text-align: center;
  }
  ion-item{
    background: transparent !important;
  }
  
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }

}
