<ion-header>
  <ion-navbar>
    <ion-title>Sign-in</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--form [formGroup]="registerForm" (ngSubmit)="createNewUser()"-->
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-thumbnail item-start>
        <img [src]="avatarPreview" class="avatar_img">
      </ion-thumbnail>
      <h2>Foto de perfil</h2>
      <p>
        <!--button ion-button icon-left small round color="tm_dk_fucsia" (click)="mostrarCamara()" text-capitalize clear item-end-->
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="mostrarCamara('avatar')" text-capitalize item-end>
          <ion-icon name="md-camera"></ion-icon>
        </button>
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="selectPicture('avatar')" text-capitalize item-end>
          <ion-icon name="md-photos"></ion-icon>
        </button>
      </p>
    </ion-item>
    <!--ion-item *ngIf="rumbero">
      <ion-thumbnail item-start>
        <img [src]="backgroundPreview">
      </ion-thumbnail>
      <h2>Foto de fondo</h2>
      <p>
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="mostrarCamara('background')" text-capitalize item-end>
          <ion-icon name="md-camera"></ion-icon>
        </button>
        <button ion-button icon-left small round color="tm_dk_fucsia" (tap)="selectPicture('background')" text-capitalize item-end>
          <ion-icon name="md-photos"></ion-icon>
        </button>
      </p>
    </ion-item-->
    <br>
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="username" type="text" placeholder="Nombre de usuario" [(ngModel)]="user.username">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.username.valid  && (signupForm.controls.username.dirty || submitAttempt) && !signupForm.controls.username.pending">
        <p *ngIf="signupForm.value.username != ''">Nombre no valido</p>
        <p *ngIf="signupForm.value.username == ''">Nombre requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Nombre</ion-label-->
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="firstname" type="text" placeholder="Nombre" [(ngModel)]="user.firstname">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.firstname.valid  && (signupForm.controls.firstname.dirty || submitAttempt) && !signupForm.controls.firstname.pending">
        <p *ngIf="signupForm.value.firstname != ''">Nombre no valido</p>
        <p *ngIf="signupForm.value.firstname == ''">Nombre requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Apellido</ion-label-->
      <ion-icon name="contact" item-start></ion-icon>
      <ion-input formControlName="lastname" type="text" placeholder="Apellido" [(ngModel)]="user.lastname">
      </ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.lastname.valid  && (signupForm.controls.lastname.dirty || submitAttempt) && !signupForm.controls.lastname.pending">
        <p *ngIf="signupForm.value.lastname != ''">Apellido no valido</p>
        <p *ngIf="signupForm.value.lastname == ''">Apellido requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Email</ion-label-->
      <ion-icon name="mail" item-start></ion-icon>
      <ion-input formControlName="email" type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt) && !signupForm.controls.email.pending">
        <p *ngIf="signupForm.value.email != ''">Email no valido</p>
        <p *ngIf="signupForm.value.email == ''">Email requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Contraseña</ion-label-->
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt) && !signupForm.controls.password.pending">
        <p *ngIf="signupForm.value.password != ''">Password no valido</p>
        <p *ngIf="signupForm.value.password == ''">Password requerido</p>
    </ion-item>
    <ion-item>
      <!--ion-label floating>Contraseña</ion-label-->
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input formControlName="confirmPassword" type="password"  placeholder="Confirmación contraseña" [(ngModel)]="confirmpassword"></ion-input>
    </ion-item>
    <ion-item class="no-line error" *ngIf="signupForm.value.password != signupForm.value.confirmPassword && signupForm.value.confirmPassword != '' && (signupForm.controls.confirmPassword.dirty  || submitRegisterAttempt) && !signupForm.controls.confirmPassword.pending && signupForm.value.password != '' && signupForm.controls.password.valid">
        <p>Confirmación de password no valido</p>
    </ion-item>
    <ion-item class="no-line error" *ngIf="signupForm.value.confirmPassword == '' && (signupForm.controls.confirmPassword.dirty  || submitRegisterAttempt) && !signupForm.controls.confirmPassword.pending && signupForm.value.password != '' && signupForm.controls.password.valid">
        <p>Confirmación de password requerido</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-input formControlName="description" type="text"  [(ngModel)]="user.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Arma tu rumba</ion-label>
      <ion-toggle formControlName="rumbero" color="energized" [(ngModel)]="rumbero"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="rumbero">
      <ion-label floating>Nombre del lugar</ion-label>
      <ion-input formControlName="name_place" type="text" [(ngModel)]="user.name_place"></ion-input>
    </ion-item>
    <ion-item *ngIf="rumbero">
      <ion-label floating>Dirección</ion-label>
      <ion-input formControlName="address" type="text"  [(ngModel)]="user.address"></ion-input>
    </ion-item>
    <!--ion-item *ngIf="rumbero">
      <ion-label>Enviar solicitud de Anunciante</ion-label>
      <ion-checkbox formControlName="request_support" color="energized" checked="true" [(ngModel)]="user.request_support" ></ion-checkbox>
    </ion-item-->
    <ion-col col-6>
      <button ion-button block text-capitalize color="tm_dk_fucsia" navPop>Cancelar</button>
    </ion-col>
    <ion-col col-6>
      <!-- [disabled]="signupForm.controls.email.valid" -->
      <button ion-button block
              text-capitalize color="tm_dk_fucsia"
              (click)="createUser()"
              [disabled]="!signupForm.valid">
          Registrarse
      </button>
    </ion-col>
  </form>
</ion-content>
