page-events {
  ion-header {
        background: #6858EB;
    }

  ion-item{
    background-color: $primary_dark !important;
  }
  ion-item > p > button{
        padding: 0 !important;
  }
  ion-content{
    background-color: $secondary_dark !important;
  }
  ion-title{
    background: transparent !important;
    color: #f7f8f9 !important;
  }
  ion-segment-button{
    color: gray !important;
    font-weight: bold !important;
  }
  ion-toolbar{
    background: $secondary_dark !important;
  }

  ion-slide > img{
    width: 360px !important;
    height: 360px !important;
  }

  .fab-md, .fab-ios {
    color: #fff;
    background-color: $tm_dk_verde;
  }
  //esta clase hace que las imagenes del slides ocupen todo el espacio
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .div-toolbar{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  body, span, button, h1, h2, h3, h4, h5,  p, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }

  .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    padding-right: 0px !important;
  }
  /*
  //version 1
  .item-md [item-end], .item-ios [item-end] {
    margin: 0 0 9px 0 !important;
  }*/
  .item-md [item-end], .item-ios [item-end] {
    margin: 0 0 0 0 !important;
  }
  [col-2] {
    padding: 0px !important;
  }
  .label-md, .label-ios {
    margin: 0px 8px 0px 0;
  }
  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start],
  .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
    margin: 0px 16px 0px 0;
  }

}
