page-comments {
  .list-avatar-page {
    ion-note {
      font-size: 9px;
      align-self: flex-start;
      margin-top: 14px;
    }
  }
  ion-content{
    background: #272262 !important;
  }
  ion-item{
    background-color: #272262 !important;
    font-size: 10px;
  }
  body, span, button, h1, h3, h4, h5, ion-item, ion-title {
    color: $tm_lg_blanco !important;
  }
  h2{
    font-size: 10px;
    color: $tm_dk_verde_s !important;
  }
  p{
    font-size: 9px;
    color: $tm_lg_blanco !important;
  }

}
