<ion-header no-border color="morado_oscuro3">
  <ion-navbar color="morado_oscuro3">
    <ion-buttons left >
      <button ion-button navPop icon-only clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center color="light">Comentarios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-list inset>
    <ion-item *ngFor="let comment of comentProv.comments ">
      <ion-avatar item-start>
        <img [src] = "comment.user_avatar" >
      </ion-avatar>
      <h2>{{comment.username}}</h2> <h4>{{comment.content}}</h4>
      <ion-note item-end>{{comment.created_at}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="((userProv.user_profile && userProv.user_profile.avatar) || false)">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="userProv.user_profile.avatar">
      </ion-avatar>
      <ion-input type="text" placeholder="Agrega un comentario" [(ngModel)]="comentario"></ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-end color="royal" [disabled]="comentario.length <= 1" (click)="sendComment()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
